body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
.center {
  position: absolute;
  width: 325px;
  height: 500px;
  left: 50%;
  top: 50%;
  background: #ffffff;
  box-shadow: 0px 25px 25px 25px rgba(16, 17, 17, 0.05);
  border-radius: 30px;
  transform: translate(-50%, -50%);
}
.center h1 {
  text-align: center;
  color: #7e98df;
  padding: 0 0 20px 0;
  margin: 0;
}
.center form {
  padding: 0 14px;
  box-sizing: border-box;
}
.forgot{
    border: none;
    outline: none;
    text-decoration: none;
}
.float-end a{
  text-decoration: none;
}
.txt_input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  bottom: 20px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid silver;
}
.txt_input label {
  position: absolute;
  top: 50%;
  left: 30px;
  color: #adadad;
  transform: translate(-50%);
  font-size: 1px;
  pointer-events: none;
}
.row h1{
  margin-left: 60px;
  margin-top: 5px;
}
.row a{
  margin-top: 6px;
  margin-left: 20px;
}
.btn1 h1{
  margin-left: 32.5px;
  margin-top: 25.5px;
}
.btn1 a{
  margin-top: 6px;
  margin-left: 20px;
}
.butonLogin{
    position: absolute;
    width: 235px;
    height: 35px;
    left: 35px;
    margin-top: 35px;
    background: #7e98df;
    border-radius: 70px;
    color: #ffffff;
    border:none;
}
.loginwith{
    margin-top: 90px;
    margin-left: 20px;
}
.signup_link{
    position: absolute;
    width: 235px;
    height: 35px;
    left: 35px;
    margin-top: 10px;
    background: #7e98df;
    border-radius: 70px;
    color: #ffffff;
    border:none;
    text-decoration: none;
}
.signup_link1{
    margin-top: 50px;
    margin-left: 40px;
    text-decoration: none;
}
.img_{
  margin-top: -20px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container-fluid{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #7e98df; 
}
